spring:
  application:
    name: jeogieottae

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:create-drop}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect


  config:
    import: optional:file:.env[.properties]

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: 6379
      password: ""
      lettuce:
        pool:
          max-active: 20
          max-wait: 5000
          max-idle: 10
          min-idle: 2

  jwt:
    secret:
      key: ${JWT_SECRET_KEY}

  profiles:
    active: dev

  payment:
    base-url: https://api.tosspayments.com/v1/payments
    secret-key: ${PAYMENT_SECRET_KEY}